body{
    background-color: aqua;
}
.login_div1,.login_div2{
    background:white ;
    padding: 10px;
    float: none;
    border-radius: 15px;

}
#player2_name_input,#player1_name_input{
    background-color: transparent;

}
button{
    width:30%;

}